* {
	font-family:  Arial;
	box-sizing:  border-box;
}

h1 {
	text-align: center;
}

p {
	clear: both;
	padding: 10px;
	margin-top: 50px;
}

@media (min-width: 992px) {
	#hardcover, #softcover, #ebook {
		float: left;
		padding: 0px;
	 	border: 1px solid black;
	 	width: 32.3%;
	 	height: 300px;
	 	margin-top: 50px;
	 	margin-right: 0.5%;
	 	margin-left: 0.5%;
	 	margin-bottom: 50px;
	 	overflow: auto;
		background-color: grey;
		color: yellow;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	
	#hardcover {
		float: left;
		padding: 0px;
	 	border: 1px solid black;
	 	width: 49%;
	 	height: 300px;
	 	margin-top: 50px;
	 	margin-right: 0.5%;
	 	margin-left: 0.5%;
	 	margin-bottom: 10px;
	 	overflow: auto;
		background-color: grey;
		color: yellow;
	}

	#softcover {
		float: left;
		padding: 0px;
	 	border: 1px solid black;
	 	width: 49%;
	 	height: 300px;
	 	margin-top: 50px;
	 	margin-right: 0.5%;
	 	margin-left: 0.5%;
	 	margin-bottom: 10px;
	 	overflow: auto;
		background-color: grey;
		color: yellow;
	}

	#ebook {
		
		padding: 0px;
	 	border: 1px solid black;
	 	width: 99%;
	 	height: 300px;
	 	margin-right: auto;
	 	margin-left: auto;
	 	overflow: auto;
		background-color: grey;
		color: yellow;
	}
}

@media (max-width: 767px) {
	#hardcover, #softcover, #ebook {
		padding: 0px;
	 	border: 1px solid black;
	 	width: 99%;
	 	height: 300px;
	 	margin-top: 10px;
	 	margin-right: 0.5%;
	 	margin-left: 0.5%;
	 	margin-bottom: 0px;
	 	overflow: auto;
		background-color: grey;
		color: yellow;
	}	
}

.titlebox {
	float: right;
	margin-right:  0px;
	margin-top:  0px;
	padding:  10px;
	border: 1px solid black;
}

#title-hardcover {
	background-color: red;
	
}

#title-softcover {
	background-color: blue;
}

#title-ebook {
	background-color: brown;
}